<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>Página de inicio</h1>
    <% if (login) { %>
        <h2>El usuario conectado es: <strong><%= full_name %></strong> </h2>
        <a href="/logout" class="a-logout">LogOut</a>
    <% } else { %>
        <h2> <strong><%= full_name %></strong> </h2>
        <a href="/login" class="a-logout">LogOut</a>
    <% } %>
</body>
</html>